:root {
    --white: #ffffff;
    --black: #000000;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
